* {
    padding: 0;
    margin: 0;
    font-size: 36px;
    font-family: system-ui, sans-serif;
    --player-one-color: red;
    --player-two-color: blue;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eeeeee;
    box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, 20%);
    padding: 20px;
    font-weight: 700;
}

.current-score {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.score {
    font-size: 50px;
}

.flex {
    display: flex;
    align-items: center;
    gap: 30px;
}

button {
    padding: 10px 20px;
    border: 0;
    border-radius: 20px;
    background-color: #333333;
    font-weight: 700;
    color: white;
}

button:focus,
button:focus-visible {
    outline: 0;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.gameboard {
    padding: 100px;
    border-radius: 50px;
    box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, 20%);
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    gap: 20px;
    background-color: #f7f7f7;
    margin-bottom: 100px;
}

.tile {
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 20%);
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}

.tile:hover {
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 20%);
}

.tile:active {
    background-color: #eeeeee;
}

.player-one {
    color: var(--player-one-color);
    font-weight: 700;
}

.player-two {
    color:var(--player-two-color);
    font-weight: 700;
}

dialog {
    position: absolute;
    left: calc(50% - 350px);
    top: 85%;
    width: 700px;
    padding: 50px;
    border-radius: 30px;
    border: 0;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 20%);
}

.main>dialog>form {
    display: flex;
    gap: 50px;
    align-items: center;
}

